*{
    padding: 0;
    margin: 0;
   
}
.cs-color{
    color: rgb(30, 144, 255);
    font-family: cursive; 
}
.color-cs{
    color: rgba(161, 215, 223, 0.733);
}
.custom-hr{
    overflow: visible; 
    width: 98%;
    margin: auto;
    height: 30px;
    border-style: solid;
    border-color: rgb(17, 86, 151);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
.custom-hr:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgb(17, 71, 151);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
body{
    background-color: rgb(5, 5, 71);
    color: white;
    font-family: poppins, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 1000px;
}
.html{
    color: orangered;
}
.css{
    color: blue;
}
.js{
    color: yellow;
}
.php{
    color: #777BB3;
}
.lara{
    color: #f05340;
}
.html-in{
    width: 90%;
}
.css-in{
    width: 80%;
}
.js-in{
    width: 60%;
}
.php-in{
    width: 50%;
}
.lara-in{
    width: 40%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    background-color: rgb(8, 8, 129);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
    margin: 0 24px; 
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.8s;
}
nav ul li a:hover{
    color: lavender;
    border-bottom: 1px solid white;
}
.left{
    font-size: 1.5rem;
    border: 2px solid #0725a8;
    border-radius: 10px;
    border-top: none;
    border-bottom: none;
    padding: 5px;
}
.first-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 23vh 0;
}
.first-sec > div{
    width: 30%;
}
.left-sec{
    font-size: 2.5rem;
    margin: 30px;
}
.right-sec img{
    background: transparent;
    width: 80%;
    margin: 3px;
}
.second-sec{
    max-width: 80vw;
    height: 65vh;
    margin: auto;
}
.second-sec h1{
    font-size: 1.9rem;
}
.second-sec .box{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 50px 0;
    display: flex;
}
.second-sec .box .top-btm{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}
.first-top-img{
    width: 30px;
    position: relative;
    top: -35px;
    left: -16px;
}
.text-title{
    width: 150px;
    position: relative;
    top: 69px;
}
.text-desc{
    position: relative;
    top: 79px;
    color: rgb(146, 133, 14);
    width: 150px;
    font-size: 9px;
}
.third-sec{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container{
    width: 100%;
    padding: 50px 8%;
}
.about-container .about-contents{
    display: grid;
    grid-template-columns: 2fr 5fr;

}
.about-contents .img-area{
    position: relative;
    min-width: 200px;
    height: 200px;
}
.about-contents .img-area::after{
    position: absolute;
    content: '';
    width: 200px;
    height: 174px;
    box-shadow: 2px -1px 30px 0px rgba(0,0,255,0.75);
    outline: 3px solid rgb(5, 5, 97);
    top: 5px;
    left: -8px;
}
.info-area h1{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 5%;
    position: relative;
}
.info-area h1:before{
    position: absolute;
    content: ' ';
    width: 12%;
    height: 1px;
    top: 40px;
    left: 65px;
    background-color: rgb(31, 95, 168);
}
.info-area h1:after{
    position: absolute;
    content: ' ';
    width: 11%;
    height: 4px;
    top: calc(110% + 1px);
    left: 0;
    background-color: rgb(17, 85, 187);
}
.info-area h2{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 0 15px;
    color:  rgb(13, 114, 197);
}
.info-area p{
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
    padding-bottom: 18px;
}
.personal-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    margin-top: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(5, 63, 139);
}
.personal-info div span{
    color:  rgb(162, 154, 202);
}
.info-area .button{
    width: 20%;
    margin-top: 5%;
    padding: 8px 18px;
    border-radius: 25px;
}
.info-area .button button{
    padding: 15px 18px;
    width: 100%;
    --c: #fff;
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,#0f66ca;
    color: #0000;
    border: none;
    border-radius: 15px;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c), calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
}
.info-area .button button:hover,
.info-area .button button:focus-visible {
    --_p: 0%;
    --_i: 1;
}

.info-area .button button:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
}
.info-area .button button {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
    cursor: pointer;
    padding: .2rem 0.2rem;
}
.forth-sec{
    background-color: rgba(16, 16, 78, 0.801);
    height: 550px;
}
.forth-sec h2{
    padding: 5% 0;
    font-family: "Ojuju", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    overflow: hidden;
}
.service-container{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.car-con{
    width: 27.5%;
    margin-left: 5px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(28, 84, 134, 0.836);
    height: 240px;
    border: 1px solid blue;
}
.card-head .icon{
    font-size: 2rem;
    margin: 2% 0;
    color: rgb(41, 102, 233);
}
.card-body h3{
    margin: 3% 0;
    font-size: 1.3rem;
}
.card-body{
    margin-bottom: 4%;
}
.card-foot button{
    width: 120px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(71, 123, 167, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: white;
    font-size: 0.9rem;
    border: 2px solid rgb(41, 102, 233);
    background-color: rgb(41, 102, 233);
}
.card-foot button:hover{
    background-color: rgba(21, 65, 161, 0.247);
    box-shadow: 0px 15px 20px rgba(5, 25, 116, 0.4);
    transform: translateY(-7px);
}
.fifth-sec{
    margin: 5%;
}
.skill-head{
    text-align: center;
}
.skill-head h2{
    font-size: 2.3rem;
}
.skill-head h2 span{
    color: rgb(16, 120, 218);
}
.skills-container{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.left-s-head{
    margin-bottom: 10%;
    text-align: center;
}
.skills-container h3{
    display: inline-block;
    font-size: 1.3rem;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}
.skills-container p{
    font-size: 1.2rem;
}
.ls-container{
    position: relative;
    margin-bottom: 8%;
}
.ls-container .bar{
    margin-top: 2%;
    width: 400px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(47, 47, 70);
    position: relative;
    overflow: hidden;
}
.ls-container .bar-in{
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(9, 153, 236);
}
.right-skill{
    width: 300px;
    margin-right: 7%;
}
.right-skill h3{
    margin-bottom: 20%;
    
}
.label-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    z-index: 1;
    padding: 5px;
    position: absolute;
    top: 60%;
    left: 80%;
    background-color: rgb(10, 147, 226);
}
.css-lb{
    top: 60%;
    left: 70%;
}
.js-lb{
    top: 60%;
    left: 50%;
}
.php-lb{
    top: 60%;
    left: 40%;
}
.lara-lb{
    top: 60%;
    left: 30%;
}
.rs-head{
    text-align: center;
    margin-right: 14%;
}
.first-two{
    display: flex;
}
.pr{
    margin-right: 20px;
}
.text{
   position: relative;
   font-size: 1rem;
   margin-top: 10px;
}
.radial-bar{
    width: 60%;
    margin: auto;
    display: grid;
    margin-bottom: 8%;
    position: relative;
}
.percentage{
    position: absolute;
    top: 36px;
    left: 36px;
}
.first-cr, .tw{
    margin-left: 10px;
}
.progress-bar{
    stroke: #0999EC;
}